.listings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    box-shadow: 0 16px 64px -16px rgb(46 55 77 / 10%);
    border: 4px solid #100c08;
    margin: 5px 50px;
    width: 400px;
    flex-direction: column;
    }

.restaurantImage{

        height: 200px;
        width: 300px;
        border-radius: 5px;

}

.restaurantContainer {
    display: flex;
    flex-wrap: wrap;
}
